.Button {
    display: block;
    text-decoration: none;
    width: 100%;
    line-height: 40px;
    text-align: center;
    border: 1px #d33e3e;
    border-radius: 6px;
    background: #d33e3e;
    color: #fff;
    transition: all 0.3s ease-out;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    &:hover {
        cursor: pointer;
        border-color: #e4b43c;
        background: #e4b43c;
    }
    &:focus {
        outline: none;
    }
}
