.SectionHero {
    background-image: url(../../assets/images//hero.jpeg); //TU NEKA GRE
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    &-Overlay{
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-Content {
        width: 100%;
        padding: 0 15px;
    }

    &-Heading {
        color:#e4b43c;
        line-height: 140%;
        margin-bottom: 30px;
        font-size: 20px;
    }

    &-Subheading {
        font-size: 14px;
        max-width: 1280px; 
        line-height: 160%; 
        font-weight: 400;
        color:#ffffff;
    }
    
    @media screen and (min-width: 576px) {
        &-Content {
            padding: 0 25px;
        }
        &-Overlay {
            justify-content: flex-start;
        }
        &-Heading {
            font-size: 24px;
            max-width: 400px;
        }
        &-Subheading {
            max-width: 550px;
        }
    }

    @media screen and (min-width: 1024px) {
        &-Content {
            padding: 0;
            max-width: 993px;
            margin: 0 auto;
        }
        &-Heading {
            font-size: 28px;
            max-width: 500px;
        }
        &-Subheading {
            max-width: 700px;
        }
    }

    @media screen and (min-width: 1300px) {
        height: 500px;
        &-Content {
            max-width: 1280px;
        }
        &-Heading {
            font-size: 32px;
        }
        &-Subheading {
            font-size: 16px;
            max-width: 800px;
        }
    }
}

// .section-hero {
//     background-image: url(images/hero.jpeg);
//     height: 500px;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-attachment: fixed;
//     margin-top: 80px;
//     position: relative;
// }

// .section-hero__overlay {
//     background-color: rgb(0, 0, 0,0.7);
//     width: 100%;
//     height: 100%;

// }

// .section-hero__header {
//     color:#e4b43c;
//     line-height: 140%;
//     width: 500px;
//     margin-bottom: 30px;
// }


// .section-hero__subheading {
//     width: 800px; 
//     line-height: 160%; 
//     font-weight: 400;
//     color:#ffffff;
// } 

// .section-hero__content {
//     max-width: 1280px;
//     margin: 0 auto; /* horizontalno */
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     left: 0;
//     right: 0;

// }






