.EventContainer {
  padding: 0 15px 65px;

  &-Title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  &-Info {
        &-Figure {
          width: 100%;
          height: 230px;
          margin-bottom: 24px;
        }
      
        &-Figure-Image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      
        &-Content {
          margin-bottom: 15px;
        }
      
        &-Content-Row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
        }
      
        &-Content-Row:last-child {
          margin-bottom: 0;
        }
      
        &-Item:last-child {
          text-align: right;
        }
      
        &-ItemTitle {
          font-size: 14px;
          margin-bottom: 4px;
        }
      
        &-ItemValue {
          font-size: 14px;
        }
      
        &-Description {
          font-size: 16px;
          line-height: 150%;
        }
  }
}

@media screen and (min-width: 500px) {
  .EventContainer-Figure {
      height: 300px;
  }
}

@media screen and (min-width: 500px) {
  .EventContainer-Figure {
      height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .EventContainer {
      padding: 0 25px 65px;

      &-Info {
        display: flex;
        justify-content: space-between;

        &-Figure {
          height: 230px;
          width: 400px;
        }

        &-Content {
          margin-bottom: 0;
          width: 270px;
        }

        &-Content-Row {
          margin-bottom: 32px;
        }

        &-Item-Title {
          font-size: 14px;
          margin-bottom: 12px;
        }

        &-Description {
          width: 400px;
        }
      }
  } 
}

@media screen and (min-width: 1024px) {
.EventContainer {
  margin: 0 auto;
  padding: 0 0 64px;
  max-width: 930px;

  &-Info {
    display: flex;
    justify-content: space-between;

    &-Figure {
      height: 350px;
      width: 600px;
    }

    &-Content {
      width: 300px;
    }

    &-Content-Row {
      margin-bottom: 32px;
    }

    &-Item-Title {
      font-size: 16px;
    }

    &-Item-Value {
      font-size: 16px;
    }

    &-Description {
      font-size: 16px;
      width: 600px;
    }
  }
}
}

@media screen and (min-width: 1300px) {
.EventContainer {
  max-width: 1280px;

  &-Info {

    &-Figure {
      height: 450px;
      width: 800px;
    }

    &-Content {
      width: 400px;
    }

    &-Description {
      width: 800px;
    }
  }
}
}
