.Footer {
    background-color: #333333;
    padding: 20px;
	
	&-Text {
        color: #d0d0d0;
        font-size: 12px;
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        padding: 30px;

        &-Text {
            font-size: 14px;
        }
    }
 
}

